.User{
    margin: 0 130px 0 250px;
    padding-top: 120px;
}
.Error{
    margin: 0 130px 0 250px;
}
.Title{
    font-size: 48px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;
}
.Color{
    color: #FF0101;
}
.SummaryWrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.ChartsWrapper{
    width: 75%;
}
.UserWrapper{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
    gap: 55px;
}

.OtherChartsWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.LineChart, .RadarChart, .PieChart{
    width: 30%;
}
@media screen and (max-width: 1300px){
    .User{
        margin: 0 40px 0 150px;
    }
    .SummaryWrapper{
        flex-direction: column-reverse;    
    }
    .UserWrapper{
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 50px;
        justify-content: space-between;
    }
    .ChartsWrapper{
        width: 100%;
    }
}